@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Siêu trí nhớ</title>
    <!-- Add Phaser via CDN -->

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #000;
            /* Optional: Set a background color */
        }

        canvas {
            display: block;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.js"></script>
    <!-- Main JavaScript file containing your Phaser code -->
    <script type="module" src="~/view-resources/arcade/js/main.js" asp-append-version="true"></script>
</body>

</html>