<div class="tiny reveal" id="loginModal" data-reveal>
    <h4 class="title">Great to have you back!</h4>
    <div class="content">
        <div class="login-form" style="display: block;border:none;width: 100%;position: static">
            <form method="post" action>
                <div class="input-group">
                    <span class="input-group-label"><i class="fa fa-user"></i></span>
                    <input class="input-group-field" name="_username" type="text" placeholder="Enter username">
                </div>
                <div class="input-group">
                    <span class="input-group-label"><i class="fa fa-lock"></i></span>
                    <input class="input-group-field" name="_password" type="password" placeholder="Enter password">
                </div>
                <div class="checkbox">
                    <input id="check1" type="checkbox" name="_remember_me" value="1">
                    <label class="customLabel" for="check1">Remember me</label>
                </div>
                <input type="submit" name="submit" value="Login Now">
            </form>
            <p class="text-center">New here? <a class="newaccount" href="register.html">Create a new Account</a></p>
            <h5 class="text-center">OR</h5>
            <div class="social-login" data-equalizer-watch>
                <div class="social-login-btn facebook" style="max-width: 250px;margin: 0 auto;">
                    <a href="#" class="fb-login"><i class="fa fa-facebook"></i>login via facebook</a>
                </div>
            </div>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>