<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Ghi log ra console -->
		<target name="console" xsi:type="Console" layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />

		<!-- Ghi log vào file -->
		<target name="file" xsi:type="File" fileName="logs/log-${shortdate}.txt" layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
	</targets>

	<rules>
		<!-- Ghi log từ cấp độ Info trở lên -->
		<logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>
</nlog>
