@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/views/shared/frontends/_layout.cshtml";
}
<div class="container">
    <h1>Giới thiệu</h1>
    <p><strong>Tôi là:</strong> Denny - Admin của trochoixua.io.vn </p>
    <p><strong>Email:</strong> <a href="mailto:trochoixua@gmail.com">trochoixua@gmail.com</a></p>
    <p>Khi gặp vấn đề, xin hãy đóng góp qua email để giúp tôi hoàn thiện hơn. Mọi ý kiến đóng góp của bạn đều rất đáng trân trọng!</p>
</div>