@{
    Layout = "~/views/shared/frontends/_layout.cshtml";
}

<section class="content" style="background:#fff">
    <div class="row " style="display: flex;">
        <div class="large-9 medium-8 columns parentbg">
            <div class="sidebarBg"></div>
            <div class="row column head-text clearfix">
                <h4>Most Popular Games</h4>
            </div>
            <div class="row list-group">
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb genesis-thumb" data-poster="../i.987967.xyz/screenshot/47/2020/11/27/42046_d54bf187465730456726325ebbe53759b4772496.png">
                            <img data-src="https://i.987967.xyz/screenshot/47/2020/11/27/42046_d54bf187465730456726325ebbe53759b4772496.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Sonic Classic Heroes" /> <a href="genesis-games/sonic-classic-heroes.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Genesis</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>215</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Sonic Classic Heroes" href="genesis-games/sonic-classic-heroes.html">Sonic Classic Heroes</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb psx-thumb" data-poster="../i.987967.xyz/screenshot/72/2018/09/04/40238_0ae25ae7f0f2fdd2ff1546d5c92cc5dabe06095c.png">
                            <img data-src="https://i.987967.xyz/screenshot/72/2018/09/04/40238_0ae25ae7f0f2fdd2ff1546d5c92cc5dabe06095c.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Tekken 3" /> <a href="psx-games/tekken-3.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>PlayStation</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>612</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Tekken 3" href="psx-games/tekken-3.html">Tekken 3</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb genesis-thumb" data-poster="https://i.987967.xyz/screenshot/47/t/29209_0e3475eb006699a6378ccb3f4440ab9489f0df0a.png" data-video="/video/genesis/sonic-knuckles-sonic-the-hedgehog-3-world.mp4">
                            <img data-src="https://i.987967.xyz/screenshot/47/t/29209_0e3475eb006699a6378ccb3f4440ab9489f0df0a.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Sonic & Knuckles + Sonic the Hedgehog 3 (World)" /> <a href="genesis-games/sonic-knuckles-sonic-the-hedgehog-3-world.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Genesis</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>254</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Sonic & Knuckles + Sonic the Hedgehog 3 (World)" href="genesis-games/sonic-knuckles-sonic-the-hedgehog-3-world.html">Sonic & Knuckles + Sonic the Hedgehog 3 (World)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb arcade-thumb" data-poster="../i.987967.xyz/previews/mvscu.png">
                            <img data-src="https://i.987967.xyz/previews/mvscu.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Marvel vs Capcom - clash of super heroes (980123 USA)" /> <a href="arcade-games/marvel-vs-capcom-clash-of-super-heroes-980123-usa.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Arcade</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>596</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Marvel vs Capcom - clash of super heroes (980123 USA)" href="arcade-games/marvel-vs-capcom-clash-of-super-heroes-980123-usa.html">Marvel vs Capcom - clash of super heroes (980123 USA)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb gameboyadvance-thumb" data-poster="https://i.987967.xyz/screenshot/43/p/28096_d70b68d8b7a577c6d795db8277ce1202caa31fde.png" data-video="/video/gameboyadvance/dragon-ball-z---supersonic-warriors.mp4">
                            <img data-src="https://i.987967.xyz/screenshot/43/p/28096_d70b68d8b7a577c6d795db8277ce1202caa31fde.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Dragon Ball Z - Supersonic Warriors (K)(ProjectG)" /> <a href="gameboyadvance-games/dragon-ball-z-supersonic-warriors-k-projectg.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Game Boy Advance</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>218</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Dragon Ball Z - Supersonic Warriors (K)(ProjectG)" href="gameboyadvance-games/dragon-ball-z-supersonic-warriors-k-projectg.html">Dragon Ball Z - Supersonic Warriors (K)(ProjectG)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb genesis-thumb" data-poster="../i.987967.xyz/screenshot/47/d/17236_b4a87780cb8e26771c3a4f20505e80605fd272ea.png">
                            <img data-src="https://i.987967.xyz/screenshot/47/d/17236_b4a87780cb8e26771c3a4f20505e80605fd272ea.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Sonic the Hedgehog 2 (World) (Rev A)" /> <a href="genesis-games/sonic-the-hedgehog-2-world-rev-a.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Genesis</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>173</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Sonic the Hedgehog 2 (World) (Rev A)" href="genesis-games/sonic-the-hedgehog-2-world-rev-a.html">Sonic the Hedgehog 2 (World) (Rev A)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb arcade-thumb" data-poster="../i.987967.xyz/screenshot/19/2020/12/28/8843_660ca881b33a86ab9b3c21b5de5fbdcabaeca0cc.png">
                            <img data-src="https://i.987967.xyz/screenshot/19/2020/12/28/8843_660ca881b33a86ab9b3c21b5de5fbdcabaeca0cc.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="JoJo's Bizarre Adventure: Heritage for the Future / JoJo no Kimyou na Bouken: Mirai e no Isan (Japan 990927, NO CD)" /> <a href="arcade-games/jojos-bizarre-adventure_-heritage-for-the-future-jojo-no-kimyou-na-bouken_-mirai-e-no-isan-japan-990927-no-cd.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Arcade</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>727</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="JoJo's Bizarre Adventure: Heritage for the Future / JoJo no Kimyou na Bouken: Mirai e no Isan (Japan 990927, NO CD)" href="arcade-games/jojos-bizarre-adventure_-heritage-for-the-future-jojo-no-kimyou-na-bouken_-mirai-e-no-isan-japan-990927-no-cd.html">JoJo's Bizarre Adventure: Heritage for the Future / JoJo no Kimyou na Bouken: Mirai e no Isan (Japan 990927, NO CD)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb mastersystem-thumb" data-poster="https://i.987967.xyz/screenshot/77/d/30899_acc786ae8f4fe4ef9ff4a74d5c3a77fabaa240ca.png" data-video="/video/mastersystem/sonic-the-hedgehog-usa-europe.mp4">
                            <img data-src="https://i.987967.xyz/screenshot/77/d/30899_acc786ae8f4fe4ef9ff4a74d5c3a77fabaa240ca.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Sonic The Hedgehog (USA, Europe)" /> <a href="mastersystem-games/sonic-the-hedgehog-usa-europe.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>SEGA Master System</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>140</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Sonic The Hedgehog (USA, Europe)" href="mastersystem-games/sonic-the-hedgehog-usa-europe.html">Sonic The Hedgehog (USA, Europe)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb n64-thumb" data-poster="https://i.987967.xyz/screenshot/59/2018/01/06/32117_c83d24e3e7994fb4ba6d4c59cc39928df1cb6e0d.png" data-video="/video/n64/super-smash-bros.mp4">
                            <img data-src="https://i.987967.xyz/screenshot/59/2018/01/06/32117_c83d24e3e7994fb4ba6d4c59cc39928df1cb6e0d.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Super Smash Bros. (USA)" /> <a href="n64-games/super-smash-bros-usa.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Nintendo 64</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>394</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Super Smash Bros. (USA)" href="n64-games/super-smash-bros-usa.html">Super Smash Bros. (USA)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb genesis-thumb" data-poster="../i.987967.xyz/screenshot/47/2021/11/27/42282_15c8060c46bba364cc04720a89aab1b247e01bac.png">
                            <img data-src="https://i.987967.xyz/screenshot/47/2021/11/27/42282_15c8060c46bba364cc04720a89aab1b247e01bac.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Sonic 2 Heroes" /> <a href="genesis-games/sonic-2-heroes.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Genesis</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>60</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Sonic 2 Heroes" href="genesis-games/sonic-2-heroes.html">Sonic 2 Heroes</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb snes-thumb" data-poster="../i.987967.xyz/screenshot/79/e/19846_c1c2ac37e815f23bbd55d6357dae9d84be8b4471.png">
                            <img data-src="https://i.987967.xyz/screenshot/79/e/19846_c1c2ac37e815f23bbd55d6357dae9d84be8b4471.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Super Bomberman 4 (English - Translated)" /> <a href="snes-games/super-bomberman-4-english-translated.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>SNES</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>167</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Super Bomberman 4 (English - Translated)" href="snes-games/super-bomberman-4-english-translated.html">Super Bomberman 4 (English - Translated)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb arcade-thumb" data-poster="../i.987967.xyz/previews/sf2yyc2.png">
                            <img data-src="https://i.987967.xyz/previews/sf2yyc2.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Street Fighter II' - Champion Edition (YYC bootleg set 2, 920313 etc) [Bootleg]" /> <a href="arcade-games/street-fighter-ii-champion-edition-yyc-bootleg-set-2-920313-etc-bootleg.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Arcade</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>167</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Street Fighter II' - Champion Edition (YYC bootleg set 2, 920313 etc) [Bootleg]" href="arcade-games/street-fighter-ii-champion-edition-yyc-bootleg-set-2-920313-etc-bootleg.html">Street Fighter II' - Champion Edition (YYC bootleg set 2, 920313 etc) [Bootleg]</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb gameboyadvance-thumb" data-poster="../i.987967.xyz/screenshot/43/p/19537_65a82901654bd8bc9026fc19222257b9b08d2a78.png">
                            <img data-src="https://i.987967.xyz/screenshot/43/p/19537_65a82901654bd8bc9026fc19222257b9b08d2a78.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="DragonBall Z - Supersonic Warriors (E)(Rising Sun)" /> <a href="gameboyadvance-games/dragonball-z-supersonic-warriors-e-rising-sun.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Game Boy Advance</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>99</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="DragonBall Z - Supersonic Warriors (E)(Rising Sun)" href="gameboyadvance-games/dragonball-z-supersonic-warriors-e-rising-sun.html">DragonBall Z - Supersonic Warriors (E)(Rising Sun)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb snes-thumb" data-poster="https://i.987967.xyz/screenshot/79/b/23881_2ee092593fc532584b30e9f49a69eec38f301c86.png" data-video="/video/snes/top-gear-usa.mp4">
                            <img data-src="https://i.987967.xyz/screenshot/79/b/23881_2ee092593fc532584b30e9f49a69eec38f301c86.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Top Gear (USA)" /> <a href="snes-games/top-gear-usa.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>SNES</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>136</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Top Gear (USA)" href="snes-games/top-gear-usa.html">Top Gear (USA)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb snes-thumb" data-poster="../i.987967.xyz/screenshot/79/p/24792_5004814340407f47c3ff533f5691922412b09a1a.png">
                            <img data-src="https://i.987967.xyz/screenshot/79/p/24792_5004814340407f47c3ff533f5691922412b09a1a.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Super Bomberman (Europe)" /> <a href="snes-games/super-bomberman-europe.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>SNES</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>44</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Super Bomberman (Europe)" href="snes-games/super-bomberman-europe.html">Super Bomberman (Europe)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb genesis-thumb" data-poster="../i.987967.xyz/screenshot/47/p/30002_eb29ae6d432f1c7055dd56a784481df11f2514a5.png">
                            <img data-src="https://i.987967.xyz/screenshot/47/p/30002_eb29ae6d432f1c7055dd56a784481df11f2514a5.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Sonic the Hedgehog 3 (Europe)" /> <a href="genesis-games/sonic-the-hedgehog-3-europe.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Genesis</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>111</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Sonic the Hedgehog 3 (Europe)" href="genesis-games/sonic-the-hedgehog-3-europe.html">Sonic the Hedgehog 3 (Europe)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb arcade-thumb" data-poster="https://i.987967.xyz/previews/neobombe.png" data-video="/video/arcade/neobombe.mp4">
                            <img data-src="https://i.987967.xyz/previews/neobombe.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Neo Bomberman" /> <a href="arcade-games/neo-bomberman.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Arcade</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>156</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Neo Bomberman" href="arcade-games/neo-bomberman.html">Neo Bomberman</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb arcade-thumb" data-poster="../i.987967.xyz/previews/kf2k2plc.png">
                            <img data-src="https://i.987967.xyz/previews/kf2k2plc.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="The King of Fighters 2002 Super (bootleg) [Bootleg]" /> <a href="arcade-games/the-king-of-fighters-2002-super-bootleg-bootleg.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Arcade</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>125</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="The King of Fighters 2002 Super (bootleg) [Bootleg]" href="arcade-games/the-king-of-fighters-2002-super-bootleg-bootleg.html">The King of Fighters 2002 Super (bootleg) [Bootleg]</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb psx-thumb" data-poster="../i.987967.xyz/screenshot/72/2019/09/03/41687_b197ecc70b99140ce92d9d9c16a6e5f0f0520bad.jpg">
                            <img data-src="https://i.987967.xyz/screenshot/72/2019/09/03/41687_b197ecc70b99140ce92d9d9c16a6e5f0f0520bad.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Crash Team Racing" /> <a href="psx-games/crash-team-racing.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>PlayStation</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>360</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Crash Team Racing" href="psx-games/crash-team-racing.html">Crash Team Racing</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb snes-thumb" data-poster="../i.987967.xyz/screenshot/79/v/19907_0cca214ede7c19c65cd0cc21448ab1a8caab4275.png">
                            <img data-src="https://i.987967.xyz/screenshot/79/v/19907_0cca214ede7c19c65cd0cc21448ab1a8caab4275.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Super Bomberman 5 (Japan)" /> <a href="snes-games/super-bomberman-5-japan.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>SNES</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>94</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Super Bomberman 5 (Japan)" href="snes-games/super-bomberman-5-japan.html">Super Bomberman 5 (Japan)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb arcade-thumb" data-poster="https://i.987967.xyz/previews/sf2ce.png" data-video="/video/arcade/sf2ce.mp4">
                            <img data-src="https://i.987967.xyz/previews/sf2ce.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Street Fighter II' - Champion Edition (street fighter 2' 920513 etc)" /> <a href="arcade-games/street-fighter-ii-champion-edition-street-fighter-2-920513-etc.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Arcade</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>140</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Street Fighter II' - Champion Edition (street fighter 2' 920513 etc)" href="arcade-games/street-fighter-ii-champion-edition-street-fighter-2-920513-etc.html">Street Fighter II' - Champion Edition (street fighter 2' 920513 etc)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb psx-thumb" data-poster="../i.987967.xyz/screenshot/72/2021/04/09/40784_585d4c9e9577ae9a3a251104b9f475d93d8c4dc8.png">
                            <img data-src="https://i.987967.xyz/screenshot/72/2021/04/09/40784_585d4c9e9577ae9a3a251104b9f475d93d8c4dc8.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Crash Bandicoot" /> <a href="psx-games/crash-bandicoot.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>PlayStation</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>562</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Crash Bandicoot" href="psx-games/crash-bandicoot.html">Crash Bandicoot</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb genesis-thumb" data-poster="https://i.987967.xyz/screenshot/47/a/16913_52bd91aed0fa464e3b14ac8a3a47723b6937482b.png" data-video="/video/genesis/dragon-ball-z-buyuu-retsuden-japan.mp4">
                            <img data-src="https://i.987967.xyz/screenshot/47/a/16913_52bd91aed0fa464e3b14ac8a3a47723b6937482b.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Dragon Ball Z - Buyuu Retsuden (Japan)" /> <a href="genesis-games/dragon-ball-z-buyuu-retsuden-japan.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Genesis</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>19</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Dragon Ball Z - Buyuu Retsuden (Japan)" href="genesis-games/dragon-ball-z-buyuu-retsuden-japan.html">Dragon Ball Z - Buyuu Retsuden (Japan)</a></h6>
                        </div>
                    </div>
                </div>
                <div class="item large-3 medium-6 columns group-item-grid-default">
                    <div class="post thumb-border">
                        <div class="post-thumb genesis-thumb" data-poster="../i.987967.xyz/screenshot/47/2021/03/01/42251_3eef350d7662446f9cd290f14802e15f0351844b.png">
                            <img data-src="https://i.987967.xyz/screenshot/47/2021/03/01/42251_3eef350d7662446f9cd290f14802e15f0351844b.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Sonic Generations 2 " /> <a href="genesis-games/sonic-generations-2.html" class="hover-posts">
                                <span><i class="fa fa-power-off"></i>Start Game</span>
                            </a>
                            <div class="video-stats clearfix">
                                <div class="thumb-stats pull-left">
                                    <h6>Genesis</h6>
                                </div>
                                <div class="thumb-stats pull-left">
                                    <i class="fa fa-heart"></i>
                                    <span>29</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-des">
                            <h6><a title="Sonic Generations 2 " href="genesis-games/sonic-generations-2.html">Sonic Generations 2 </a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-3 medium-4 columns">
            <aside class="sidebar">
                <div class="sidebarBg"></div>
                <div class="row">

                    <div class="large-12 medium-12 medium-centered columns">
                        <div class="widgetBox">
                            <div class="widgetTitle">
                                <h5>Search for Games</h5>
                            </div>
                            <form id="searchform" method="get" role="search" action="https://www.retrogames.cc/search">
                                <div class="input-group">
                                    <input class="input-group-field" type="text" name="q" placeholder="Enter your keyword">
                                    <div class="input-group-button">
                                        <input type="submit" class="button" value="Submit">
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                    <div class="large-12 medium-12 medium-centered columns">
                        <div class="widgetBox">
                            <div class="widgetTitle">
                                <h5>New Games</h5>
                            </div>
                            <div class="widgetContent">
                                <div class="media-object stack-for-small">
                                    <div class="media-object-section">
                                        <div class="recent-img">
                                            <a href="snes-games/the-lion-king-early-prototype.html">
                                                <img data-src="https://i.987967.xyz/screenshot/79/2024/09/27/46688_9c8d377e479a09774512e1a476f5043a58b7a03a.png" alt>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-object-section">
                                        <div class="media-content">
                                            <h6><a href="snes-games/the-lion-king-early-prototype.html">The Lion King Early Prototype </a></h6>
                                            <p><span>SNES</span></p>
                                        </div>
                                    </div>
                                </div> <div class="media-object stack-for-small">
                                    <div class="media-object-section">
                                        <div class="recent-img">
                                            <a href="arcade-games/run-and-gun-2-ver-uaa.html">
                                                <img data-src="https://www.retrogames.cc/images/noscreenshot.jpg" alt>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-object-section">
                                        <div class="media-content">
                                            <h6><a href="arcade-games/run-and-gun-2-ver-uaa.html">Run and Gun 2 (ver UAA)</a></h6>
                                            <p><span>Arcade</span></p>
                                        </div>
                                    </div>
                                </div> <div class="media-object stack-for-small">
                                    <div class="media-object-section">
                                        <div class="recent-img">
                                            <a href="arcade-games/run-and-gun-ver-eaa-1993-10-8.html">
                                                <img data-src="https://www.retrogames.cc/images/noscreenshot.jpg" alt>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-object-section">
                                        <div class="media-content">
                                            <h6><a href="arcade-games/run-and-gun-ver-eaa-1993-10-8.html">Run and Gun (ver EAA 1993 10.8)</a></h6>
                                            <p><span>Arcade</span></p>
                                        </div>
                                    </div>
                                </div> <div class="media-object stack-for-small">
                                    <div class="media-object-section">
                                        <div class="recent-img">
                                            <a href="snes-games/super-mario-bros-5-reborn.html">
                                                <img data-src="https://i.987967.xyz/screenshot/79/2024/10/06/46685_70b36f7d862c1386d776573a9886597de3ac4cbf.png" alt>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-object-section">
                                        <div class="media-content">
                                            <h6><a href="snes-games/super-mario-bros-5-reborn.html">Super Mario Bros. 5 Reborn</a></h6>
                                            <p><span>SNES</span></p>
                                        </div>
                                    </div>
                                </div> <div class="media-object stack-for-small">
                                    <div class="media-object-section">
                                        <div class="recent-img">
                                            <a href="gameboyadvance-games/super-metroid-revamp-2-0-italian-translation.html">
                                                <img data-src="https://i.987967.xyz/screenshot/43/2024/09/26/46684_329cd5939905dfffebc426c3c262967a9ccab30b.png" alt>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-object-section">
                                        <div class="media-content">
                                            <h6><a href="gameboyadvance-games/super-metroid-revamp-2-0-italian-translation.html">Super Metroid - Revamp 2.0 Italian translation</a></h6>
                                            <p><span>Game Boy Advance</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-12 medium-centered columns">
                        <div class="widgetBox" style="height: 500px;overflow: auto;margin-bottom:0">
                            <style>
                                ul#comments {
                                    margin: 0;
                                    list-style-type: none;
                                    font-family: "Helvetica Neue",arial,sans-serif;
                                    font-size: 15px;
                                    color: #a5b2b9;
                                }

                                    ul#comments li {
                                        margin-bottom: 30px;
                                        position: relative;
                                    }

                                        ul#comments li a {
                                            text-decoration: none;
                                            color: rgb(102, 204, 204);
                                        }

                                .avatar-container {
                                    width: 60px;
                                    box-sizing: border-box;
                                }

                                .avatar {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 5px;
                                    float: left;
                                    margin: 5px;
                                }

                                .post-container {
                                    padding-top: 3px;
                                    margin-left: 70px;
                                    box-sizing: border-box;
                                }

                                    .post-container p {
                                        color: #3f4549;
                                    }

                                .author_name {
                                    font-weight: bold;
                                    font-size: 13px;
                                }

                                .timeago, .posted {
                                    font-weight: 500;
                                    font-size: 12px;
                                    color: #a5b2b9;
                                    color: rgba(0,39,59,.35);
                                }

                                .bullet {
                                    padding: 0 2px;
                                    font-size: 10px;
                                    color: #ccc;
                                    line-height: 1.4;
                                }
                            </style>

                            <script src="../cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
                            <script src="../cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
                            <script>
                                var DisqusRecent = {
                                    init: function (config) {
                                        this.api_key = config.api_key;
                                        this.forum = config.forum;
                                        this.template = config.template;
                                        this.container = config.container;

                                        this.fetchRecentComments();
                                    },

                                    fetchRecentComments: function () {
                                        $.ajax({
                                            url: "https://disqus.com/api/3.0/forums/listPosts.jsonp?forum=" + this.forum + "&limit=15&related=thread&api_key=" + this.api_key,
                                            dataType: "jsonp",
                                            context: this,

                                            success: function (results) {
                                                var res = [];
                                                res['cursor'] = results['cursor'];
                                                res['response'] = [];
                                                var j = 0;
                                                for (var i in results.response) {
                                                    results.response[i].thread.title = results.response[i].thread.title.replace('Play ', '').replace('Online%20in%20your%20browser%20-%20RetroGames.html', '');
                                                    if (results.response[i].thread.title != 'SNES Hong Kong 97 (Hong Kong) ') {
                                                        res['response'][j] = results.response[i];
                                                        j++;
                                                    }
                                                }
                                                var source = $(this.template).html();
                                                var template = Handlebars.compile(source);
                                                $(this.container).html(template(res));

                                                $('.timeago').timeago();
                                            }
                                        });
                                    }
                                }

                                $(function () {
                                    DisqusRecent.init({
                                        api_key: 'x0csAbpnXSuJ5mZ9fOtnVZME4tZj8v6hEIzAyW2zfdNgV9b5o4sqVNKsOyYGmMRf',
                                        forum: 'retrogames-cc',
                                        template: '#comments-template',
                                        container: '#comments'
                                    });
                                });

                            </script>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>