﻿<div class="abp-advanced-search">
    <form id="GamesSearchForm" class="form-horizontal row">
        <div class="input-group col-md-3">
            <select class="form-control" name="CategoryId">
                <option value="-1">@L("All")</option>
                <option value="1">NES</option>
                <option value="2">PS1</option>
            </select>
        </div>
        <div class="input-group col-md-2">
            <select class="form-control" name="PageName">
                <option value="">@L("All")</option>
                <option value="#">#</option>
                @for (char c = 'A'; c <= 'Z'; c++)
                {
                    <option value="@c">@c</option>
                }
            </select>
        </div>
        <div class="input-group col-md-6">
            <input type="text" name="Keyword" class="form-control txt-search" />
            <div class="input-group-prepend">
                <button type="button" class="btn bg-blue btn-search">
                    <span class="fas fa-search" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
</div>