@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<header>

    <section id="top" class="topBar show-for-large">
        <div class="row">
            <div class="medium-6 columns">
                <div class="socialLinks" style="min-height:1px">
                    <div class="fb-like" data-href="https://www.retrogames.cc/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                </div>
            </div>
            <div class="medium-6 columns">
                <div class="top-button">
                    <ul class="menu float-right">
                        <li>
                            <a class="fb-login" href="#" style="background: #395996;"><i class="fa fa-facebook"></i>Tham gia cộng đồng game xưa</a>
                        </li>
                        <li class="dropdown-login">
                            <a class="loginReg" data-toggle="example-dropdown" href="#">login/Register</a>
                            <div class="login-form">
                                <h6 class="text-center">Great to have you back!</h6>
                                <form method="post" action="https://www.retrogames.cc/user/login_check">
                                    <div class="input-group">
                                        <span class="input-group-label"><i class="fa fa-user"></i></span>
                                        <input class="input-group-field" name="_username" type="text" placeholder="Enter username">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-label"><i class="fa fa-lock"></i></span>
                                        <input class="input-group-field" name="_password" type="password" placeholder="Enter password">
                                    </div>
                                    <div class="checkbox">
                                        <input id="check1" type="checkbox" name="_remember_me" value="1">
                                        <label class="customLabel" for="check1">Remember me</label>
                                    </div>
                                    <input type="submit" name="submit" value="Login Now">
                                </form>
                                <p class="text-center">New here? <a class="newaccount" href="register.html">Đăng ký tài khoản</a></p>
                                <h5 class="text-center">OR</h5>
                                <div class="social-login" data-equalizer-watch="">
                                    <div class="social-login-btn facebook">
                                        <a href="#" class="fb-login"><i class="fa fa-facebook"></i>Đăng nhập bằng facebook</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="navBar">
        <nav class="sticky-container" data-sticky-container="">
            <div class="sticky topnav" data-sticky="" data-top-anchor="navBar" data-btm-anchor="footer-bottom:bottom" data-margin-top="0" data-margin-bottom="0" style="width: 100%; background: #fff;" data-sticky-on="large">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="title-bar" data-responsive-toggle="beNav" data-hide-for="large">
                            <button class="menu-icon" type="button" data-toggle="offCanvas-responsive"></button>
                            <div class="title-bar-title"><img title="Retro Games" width="251" height="38" src="images/logo5c81.png?v=20180731" alt="logo"></div>
                        </div>
                        <div class="top-bar show-for-large" id="beNav" style="width: 100%;">
                            <div class="top-bar-left">
                                <ul class="menu">
                                    <li class="menu-text">
                                        <h1 style="font-size: 0 !important;margin: 0 !important;"><a title="Retro Games" href="index.html"><img title="Retro Games" src="images/logo5c81.png?v=20180731" alt="logo"><span>Play retro games online</span></a></h1>
                                    </li>
                                </ul>
                            </div>
                            <div class="top-bar-right search-btn">
                                <ul class="menu">
                                    <li class="search">
                                        <i class="fa fa-search"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="top-bar-right">
                                <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
                                    <li class="has-submenu">
                                        <a href="#">Nintendo</a>
                                        <ul class="submenu menu vertical" data-submenu="" data-animate="slide-in-down slide-out-up">
                                            <li><a href="nes-games.html" title="NES Games Online"><i class="icon icon-nes"></i>NES</a></li>
                                            <li><a href="fds-games.html" title="FDS Games Online"><i class="icon icon-fds"></i>FDS</a></li>
                                            <li><a href="snes-games.html" title="SNES Games Online"><i class="icon icon-snes"></i>SNES</a></li>
                                            <li><a href="gameboy-games.html" title="GB Games Online"><i class="icon icon-gb"></i>GB</a></li>
                                            <li><a href="gameboycolor-games.html" title="GBC Games Online"><i class="icon icon-gb"></i>GBC</a></li>
                                            <li><a href="gameboyadvance-games.html" title="GBA Games Online"><i class="icon icon-gba"></i>GBA</a></li>
                                            <li><a href="n64-games.html" title="N64 Games Online"><i class="icon icon-n64"></i>N64</a></li>
                                            <li><a href="nds-games.html" title="NDS Games Online"><i class="icon icon-nds"></i>NDS</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">Sega</a>
                                        <ul class="submenu menu vertical" data-submenu="" data-animate="slide-in-down slide-out-up">
                                            <li><a href="mastersystem-games.html" title="Master System Games Online"><i class="icon icon-mastersystem"></i>Master System</a></li>
                                            <li><a href="gamegear-games.html" title="Game Gear Games Online"><i class="icon icon-gamegear"></i>Game Gear</a></li>
                                            <li><a href="genesis-games.html" title="Genesis Games Online"><i class="icon icon-genesis"></i>Genesis</a></li>
                                            <li><a href="sega32x-games.html" title="32X Games Online"><i class="icon icon-genesis"></i>32X</a></li>
                                            <li><a href="segacd-games.html" title="Sega CD Games Online"><i class="icon icon-genesis"></i>Sega CD</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">NEC</a>
                                        <ul class="submenu menu vertical" data-submenu="" data-animate="slide-in-down slide-out-up">
                                            <li><a href="turbografx16-games.html" title="Turbografx-16 Games Online"><i class="icon icon-turbografx16"></i>Turbografx-16</a></li>
                                            <li><a href="turbografxcd-games.html" title="Turbografx CD Games Online"><i class="icon icon-turbografxcd"></i>Turbografx CD</a></li>
                                            <li><a href="pcecd-games.html" title="PC Engine CD Games Online"><i class="icon icon-pcecd"></i>PC Engine CD</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">Atari</a>
                                        <ul class="submenu menu vertical" data-submenu="" data-animate="slide-in-down slide-out-up">
                                            <li><a href="atari7800-games.html" title="Atari 7800 Games Online"><i class="icon icon-atari-7800"></i>Atari 7800</a></li>
                                            <li><a href="lynx-games.html" title="Atari Lynx Games Online"><i class="icon icon-atari-lynx"></i>Atari Lynx</a></li>
                                            <li><a href="jaguar-games.html" title="Atari Jaguar Games Online"><i class="icon icon-atari-jaguar"></i>Atari Jaguar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="psx-games.html" title="PS1 Games Online"><i class="icon icon-arcade"></i>Playstation</a></li>
                                    <li><a href="arcade-games.html" title="Classic Arcade Games Online"><i class="icon icon-arcade"></i>Arcade</a></li>
                                    <li class="has-submenu">
                                        <a href="#">Other</a>
                                        <ul class="submenu menu vertical" data-submenu="" data-animate="slide-in-down slide-out-up">
                                            <li><a href="wonderswan-games.html" title="Wonderswan Games Online"><i class="icon icon-wonderswan"></i>Wonderswan</a></li>
                                            <li><a href="ngp-games.html" title="Neo Geo Pocket Games Online"><i class="icon icon-ngp"></i>Neo Geo Pocket</a></li>
                                            <li><a href="msx1-games.html" title="MSX 1 Games Online"><i class="icon icon-ngp"></i>MSX</a></li>
                                            <li><a href="msx2-games.html" title="MSX 2 Games Online"><i class="icon icon-ngp"></i>MSX 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a rel="extenal nofollow" href="https://flashgames.cx/" target="_blank" title="Flash Games Online"><i class="icon icon-arcade"></i>Flash</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="search-bar" class="clearfix search-bar-light" itemscope="" itemtype="http://schema.org/WebSite">
                    <meta itemprop="url" content="index.html">
                    <form class="search-form" method="get" action="https://www.retrogames.cc/search" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction">
                        <meta itemprop="target" content="search7aec.html?q={q}">
                        <div class="search-input float-left">
                            <input type="search" name="q" value="" placeholder="Search for Games" itemprop="query-input">
                        </div>
                        <div class="search-btn float-right text-right">
                            <button class="button" name="" type="submit">search now</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </section>
</header>